<!-- =========================
   REGISTER SECTION
============================== -->
<section id="mailinglist" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="wow fadeInUp col-md-7 col-sm-7" data-wow-delay="0.6s">
				<h2>Stay Informed</h2>
				<h3>Subscribe to receive event updates and announcements.</h3>
				<p>Our email list is for BSides Asbury announcements only. 
					We firmly believe in the right to privacy and will not share this information with anyone (including sponsors).</p>
			</div>

			<div class="wow fadeInUp col-md-5 col-sm-5" data-wow-delay="1s">
				<p id="subscribe-response"></p>
				<form id="subscribeform" action="https://subscriptions.bsidesnj.net/" method="post">
					<input name="subscribe" type="email" class="form-control" id="email" placeholder="Email Address">
					<div class="col-md-offset-6 col-md-6 col-sm-offset-1 col-sm-10">
						<input name="submit" type="submit" class="form-control" id="submit" value="Subscribe">
					</div>
				</form>
			</div>

			<div class="col-md-1"></div>

		</div>
	</div>
</section>
